.vscode/rad.json
.vscode/.alcache/
// Binary files
#.alpackages/
*.app
#*.xlf
#./app.json
.snapshots/
// Temp files
#.vs/
#.vscode/

# Others
#~$*
#*~
//Translations/*.xlf
// .vscode/    <-- remove or comment out this line