html,
		body {
			height: 100%;
			padding: 0px;
			margin: 0px;
			overflow: hidden;
		}

		.weekend {
			background: var(--dhx-gantt-base-colors-background-alt);
		}

		[data-column-name='constraint_type'] .gantt_tree_content {
			padding: 1px;
			line-height: 17px;
			white-space: normal;
			text-align: right;
			box-sizing: border-box;
		}

		.gantt_grid_editor_placeholder[data-column-name='constraint_type'] select {
			line-height: 20px;
			white-space: normal;
		}

		.gantt_link_control {
			z-index: 1;
		}

#gantt_here {
  width: 100%;
  height: 600px; /* adjust as needed or make it 100% to fill host container */
  box-sizing: border-box;
}
