html,
		body {
			height: 100%;
			padding: 0px;
			margin: 0px;
			overflow: hidden;
		}

		.weekend {
			background: var(--dhx-gantt-base-colors-background-alt);
		}

		[data-column-name='constraint_type'] .gantt_tree_content {
			padding: 1px;
			line-height: 17px;
			white-space: normal;
			text-align: right;
			box-sizing: border-box;
		}

		.gantt_grid_editor_placeholder[data-column-name='constraint_type'] select {
			line-height: 20px;
			white-space: normal;
		}

		.gantt_link_control {
			z-index: 1;
		}

		/* FIXED DURATION → green diagonal stripes */
		
		.gantt_task_line.fixed_duration .gantt_task_content {
			background: repeating-linear-gradient(
				45deg,
				#4caf50 0px,
				#4caf50 6px,
				#66bb6a 6px,
				#66bb6a 12px
			) !important;
		}

		/* FIXED UNITS → blue diagonal stripes */
		.fixed_units .gantt_task_content {
			background: repeating-linear-gradient(
				45deg,
				#2196f3 0px,
				#2196f3 6px,
				#64b5f6 6px,
				#64b5f6 12px
			) !important;
		}

		/* FIXED WORK → orange diagonal stripes */
		.fixed_work .gantt_task_content {
			background: repeating-linear-gradient(
				45deg,
				#ff9800 0px,
				#ff9800 6px,
				#ffb74d 6px,
				#ffb74d 12px
			) !important;
		}

		.gantt_task_line.fixed_duration .gantt_task_progress,
		.gantt_task_line.fixed_units   .gantt_task_progress,
		.gantt_task_line.fixed_work    .gantt_task_progress {
			opacity: 0.35 !important;    /* adjust as needed */
		}

			/* EVEN weeks: black background, bold white text */
		.gantt_scale_cell.week-even {
		background-color: #000000;
		color: #ffffff;
		font-weight: 700;
		}

		/* ODD weeks: neutral */
		.gantt_scale_cell.week-odd {
		background-color: #2b2b2b;
		color: #ffffff;
		font-weight: 700;
		}

		.daytask-line{
		position:absolute;
		background:#3b82f6;
		border-radius:3px;
		opacity:0.9;
		pointer-events:auto;
		}
		
		.daytask-line.selected {
		outline: 2px solid #111827;
		}

		.bc-row-bold .gantt_cell,
		.bc-row-bold .gantt_tree_content{
		font-weight: 700;
		}

		.bc-bar-border .gantt_task_content{
		border: 2px solid transparent;
		box-sizing: border-box;
		}

		.bc-indent-0 .gantt_task_content{ border-color:#ff7f0e; }
		.bc-indent-1 .gantt_task_content{ border-color:#1f77b4; }
		.bc-indent-2 .gantt_task_content{ border-color:#8a8a8a; }
		.bc-indent-3 .gantt_task_content{ border-color:#2ca02c; }
		.bc-indent-4 .gantt_task_content{ border-color:#d62728; }
		.bc-indent-5 .gantt_task_content{ border-color:#9467bd; }
		.bc-indent-6 .gantt_task_content{ border-color:#17becf; }

		.gantt_tooltip {
			font-size: 12px;
			line-height: 1.4;
			padding: 8px 10px;
		}

							
	#gantt_here {
	width: 100%;
	height: 100%; /* adjust as needed or make it 100% to fill host container */
	box-sizing: border-box;
}
